node-RED flow
[{"id":"c47a7ffe.0ccaa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"af8fef3b.95e7d","type":"inject","z":"c47a7ffe.0ccaa","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["b63e2b59.a4ebd8"]]},{"id":"5d77846d.a6cb6c","type":"function","z":"c47a7ffe.0ccaa","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["47e4376a.f06668","b63e2b59.a4ebd8"]]},{"id":"b63e2b59.a4ebd8","type":"watson-conversation-v1","z":"c47a7ffe.0ccaa","name":"","workspaceid":"299bebed-895e-4e40-a609-5df64630874a","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/614b7370-71e9-4d94-a573-f67113d28833","timeout":"","optout-learning":false,"x":440,"y":140,"wires":[["15946a43.2267e6"]]},{"id":"6ec4ad3e.cecee4","type":"debug","z":"c47a7ffe.0ccaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":140,"wires":[]},{"id":"15946a43.2267e6","type":"function","z":"c47a7ffe.0ccaa","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":200,"wires":[["6ec4ad3e.cecee4","5a4b2306.0946dc"]]},{"id":"9b837fa9.1c9e8","type":"ui_form","z":"c47a7ffe.0ccaa","name":"","label":"","group":"fb7e8e99.1c93b","order":9,"width":"8","height":"3","options":[{"label":"Enter query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":400,"wires":[["5d77846d.a6cb6c"]]},{"id":"47e4376a.f06668","type":"ui_text","z":"c47a7ffe.0ccaa","group":"fb7e8e99.1c93b","order":1,"width":"8","height":"3","name":"","label":"You","format":"{{msg.payload}}","layout":"col-center","x":440,"y":420,"wires":[]},{"id":"5a4b2306.0946dc","type":"ui_text","z":"c47a7ffe.0ccaa","group":"fb7e8e99.1c93b","order":4,"width":"8","height":"3","name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":640,"y":320,"wires":[]},{"id":"fb7e8e99.1c93b","type":"ui_group","z":"","name":"SmartBot","tab":"4352fd90.cd45d4","order":1,"disp":true,"width":"8","collapse":false},{"id":"4352fd90.cd45d4","type":"ui_tab","z":"","name":"Customer Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]
