node-red-app/defaults/flow.json
[{"id":"a130917f.9242","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"697c4c48.f0ad84","type":"inject","z":"a130917f.9242","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["3759f513.6f0c3a"]]},{"id":"7be4793d.61d558","type":"function","z":"a130917f.9242","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["5f9a1230.3e329c","3759f513.6f0c3a"]]},{"id":"5f9a1230.3e329c","type":"ui_text","z":"a130917f.9242","group":"72d2a248.15bb4c","order":2,"width":10,"height":2,"name":"","label":"You","format":"{{msg.payload}}","layout":"col-center","x":440,"y":420,"wires":[]},{"id":"3759f513.6f0c3a","type":"watson-conversation-v1","z":"a130917f.9242","name":"","workspaceid":"299bebed-895e-4e40-a609-5df64630874a","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/614b7370-71e9-4d94-a573-f67113d28833","timeout":"","optout-learning":false,"x":440,"y":140,"wires":[["39624a94.712cd6"]]},{"id":"873d46a4.616a38","type":"debug","z":"a130917f.9242","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":140,"wires":[]},{"id":"2e0c3f21.ee4f7","type":"ui_text","z":"a130917f.9242","group":"72d2a248.15bb4c","order":5,"width":10,"height":4,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":640,"y":320,"wires":[]},{"id":"39624a94.712cd6","type":"function","z":"a130917f.9242","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":200,"wires":[["873d46a4.616a38","2e0c3f21.ee4f7"]]},{"id":"98debd48.5c9aa","type":"ui_form","z":"a130917f.9242","name":"","label":"","group":"72d2a248.15bb4c","order":7,"width":10,"height":2,"options":[{"label":"Enter query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":400,"wires":[["7be4793d.61d558"]]},{"id":"72d2a248.15bb4c","type":"ui_group","z":"","name":"SmartBot","tab":"78b79302.4ea95c","order":1,"disp":true,"width":10,"collapse":false},{"id":"78b79302.4ea95c","type":"ui_tab","z":"","name":"Customer Helpdesk - Customer First","icon":"dashboard","order":1,"disabled":false,"hidden":false}]